* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    font-family: sans-serif;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.header {
    background-image: url("../img/img-gerais/fundo-header.webp");
    background-repeat: no-repeat;
    text-align: center;
    padding: 30px 0;
    font-size: 40px;
}

.header img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
}

.container {
    display: flex;
}

.navbar {
    width: 30%;
    padding: 25px;
    text-align: -webkit-center;
    border-right: 10px solid green
}

.navbar li {
    list-style: none; 
}

.navbar li a {
    text-decoration: none;
    background-color: green;
    display: block;
    padding: 15px;
    margin: 13.4px;
    width: 150px;
    border-radius: 75% 25% 75% 25% / 0% 100% 0% 100%;
    color: white;
}

.content {
    width: 70%;
   padding: 30px;
}

.content h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.content h2 {
    font-size: 20px;
    margin-top: 18px;
}

.content p {
    line-height: 25px;
    margin-bottom: 15px;
}

.content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 41, 13);
    border-radius: 4px;
    padding: 3px;
    box-shadow: 0 0 3px rgb(4, 31, 4);
}

.footer {
    background-color: green;
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    margin-top: auto;
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer img {
    width: 30px;
    margin: 0 10px;
    padding-top: 6px;
}